
data_source "openstack" localhost

RRAs "RRA:AVERAGE:0.5:1:244" "RRA:AVERAGE:0.5:24:244" "RRA:AVERAGE:0.5:168:244" "RRA:AVERAGE:0.5:672:244" \
      "RRA:AVERAGE:0.5:5760:374"
gridname "hadoop"
case_sensitive_hostnames 0


