define service{{
        use                             local-service
        host_name                       {host_name}
        service_description             {service_description}
        check_command                   {check_command}
        }}
